@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
}

.container {
  width: 300px;
  height: auto;
  padding: 40px 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

h4 {
  font-size: 20px;
  color: #121212;
}

.form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.input-feild {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.input-feild input {
  border: none;
  max-width: 20%;
  height: 60px;
  text-align: center;
  border-radius: 5px;
  background: #f0f0f0;
  border: 2px solid rgb(255, 255, 255);
  font-size: 25px;
  transition: all 0.3s ease;
}

.input-feild input::-webkit-inner-spin-button,
.input-feild input::-webkit-outer-spin-button {
  display: none;
}

.input-feild input:focus {
  border: 2px solid black;
  transition: all 0.3s ease;
}

form button {
  margin-top: 25px;
  width: 92%;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 0;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  pointer-events: none;
  cursor: pointer;
  background: #608aff;
  transition: all 0.2s ease;
}

form button.active {
  background: #4070f4;
  pointer-events: auto;
  color: #ffffff;
}

form button:hover {
  background: #376cff;
}